.row
  .large-12.columns
    h1 Demo

    table.pure-table
      thead
        tr
          td
            button(ng-click='echoTest()') Echo Test
          td
            button(ng-click='dbKeysTest()') DB Keys
          td
            button(ng-click='mqttTest()') MQTT Subscribe
      tbody
        tr
          td(colspan=3)
            | {{message}} &nbsp;
