
<div class="row">
  <div class="large-12 columns">
    <h1>Demo</h1>
    <table class="pure-table">
      <thead>
        <tr>
          <td>
            <button ng-click="echoTest()">Echo Test</button>
          </td>
          <td>
            <button ng-click="dbKeysTest()">DB Keys</button>
          </td>
          <td>
            <button ng-click="mqttTest()">MQTT Subscribe</button>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="3">{{message}} &nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>