.pure-g
  .pure-u-1-2
    h1 Data for: {{table}}
  .pure-u-1-4
    h1: // for vertical alignment
    select(ng-model="table" ng-options="k as k for (k,v) in tables.keys"
            ng-change='changeTable(table)')
  .pure-u-1-4
    h1: // for vertical alignment
    input(type='text',ng-model='query',placeholder='Search...')

.pure-g
  .pure-u-1-2
    table.pure-table
      thead
        tr
          th(ng-repeat='c in colInfo') {{columns.get(c).name}}
      tbody
        tr.hover(ng-repeat='r in data.rows | filter:query',ng-click='editRow(r)')
          td(ng-repeat='c in colInfo') {{r[c]}}

  .pure-u-1-2
    form.pure-form.pure-form-stacked(ng-show='cursor')
      fieldset
        .pure-control-group(ng-repeat='c in colInfo')
          label.right.inline {{columns.get(c).name}}
          input(type='text',ng-model='cursor[c]')
        .pure-controls
          a.pure-button(ng-click='cursor=null') Clear
          label.pure-checkbox
            input(type='checkbox',ng-model='allowDelete')
            | &nbsp;
            a.pure-button(ng-click='deleteRow()') Delete
