.pure-g
  .pure-u-4-5
    h1 Status
  .pure-u-1-5
    h1: // for vertical alignment
    input(type='text',ng-model='shared.statusQuery',placeholder='Search...')
.pure-g
  .pure-u-1
    table.pure-table
      thead
        tr
          th Location
          th Parameter
          th Value
          th Unit
          th Time
          th Type
          th Id
      tbody
        tr(ng-repeat='r in readings | filter:shared.statusQuery | orderBy:"loc" \
                      track by r.id' highlight-on-change='r.ms')
          td(align='right') {{r.loc}}
          td {{r.param}}
          td(align='right') {{r.value}}
          td {{r.unit}}
          td {{r.ms | date:"MM-dd HH:mm:ss"}}
          td {{r.typ}}
          td {{r.id}}
