
<div class="pure-g">
  <div class="pure-u-4-5">
    <h1>Status</h1>
  </div>
  <div class="pure-u-1-5">
    <h1>
      <!-- for vertical alignment-->
    </h1>
    <input type="text" ng-model="shared.statusQuery" placeholder="Search..."/>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <table class="pure-table">
      <thead>
        <tr>
          <th>Location</th>
          <th>Parameter</th>
          <th>Value</th>
          <th>Unit</th>
          <th>Time</th>
          <th>Type</th>
          <th>Id</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="r in readings | filter:shared.statusQuery | orderBy:&quot;loc&quot;                       track by r.id" highlight-on-change="r.ms">
          <td align="right">{{r.loc}}</td>
          <td>{{r.param}}</td>
          <td align="right">{{r.value}}</td>
          <td>{{r.unit}}</td>
          <td>{{r.ms | date:"MM-dd HH:mm:ss"}}</td>
          <td>{{r.typ}}</td>
          <td>{{r.id}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>